################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MinimalApiSourceGenerator
bin
obj
/MinimalApiSourceGenerator.sln.DotSettings.user
